@import "tailwindcss";
@config "../../tailwind.config.cjs";
@source "../**/*.{astro,html,js,jsx,ts,tsx,md,mdx}";

:root {
  color-scheme: dark;
}

html {
  direction: rtl;
}

html[data-lang="en"] {
  direction: ltr;
}
